[submodule "submodules/hulc-baseline"]
	path = submodules/hulc-baseline
	url = git@github.com:ezhang7423/hulc-baseline.git
[submodule "talar"]
	path = submodules/talar
	url = https://huggingface.co/datasets/ezipe/talar
